.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  z-index: 0;
}