.photo-grid__counter {
	margin: 0;
	color: black;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 13px; /*ошибка в макете*/
	text-align: center;
	margin-top: 3px;
}