.button_icon_edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  order: -1;
  align-self: baseline;
  margin-left: 18px;
  }
    
  @media screen and (max-width: 768px){
  .button_icon_edit {
    width: 18px;
    height: 18px;
    margin: 0;
    margin-left: 10px;
  }
}