.button_icon_add {
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  align-self: center;
  }
  
@media screen and (max-width: 768px) {
  .button_icon_add {
    width: 282px;
  }
}