.profile__name {
  max-width: calc(100% - 24px - 18px);
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  order: -2;
  align-self: baseline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 100%;
    width: calc(100%);
    grid-column: 2/3;
    margin-bottom: 14px;
  }
}