.popup__input-span-error {
	visibility: hidden;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #FF0000;
}