.popup__input-span-error {
	position: absolute;
	visibility: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 32px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #ff0000;
}