.footer__copyright {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}