.button_icon_close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-image: url(../../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .button_icon_close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}