.add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url(../images/add-button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .add-button {
    margin: 0 19px;
  }
}