.popup__container {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 358px;
  padding: 0 36px;
  padding-top: 34px;
  padding-bottom: 37px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 238px;
    padding: 25px 22px;
  }
}