.popup__save-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: none;
  color: white;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    height: 46px;
  }
}