.photo-grid__button {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.photo-grid__button:hover {
  opacity: 0.5;
}

.photo-grid__button:active {
  background-image: url('../../../images/like__active.svg');
  opacity: 1;
}