.button_type_disabled {
  border: 1px solid rgba(0,0,0, .2);
  background-color: #fff;
  color: rgba(0,0,0, .2);
}

.button_type_disabled:hover {
  border: 1px solid rgba(0,0,0, .2);
  background-color: #fff;
  color: rgba(0,0,0, .2);
  cursor: default;
}