.popup__title {
  max-height: 23px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  margin-bottom: 54px;
}

@media screen and (max-width: 768px) {
  .popup__title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 75px;
  }
}